<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">

    <!--This tag should be below the  above css file link as it should override the layout.css and put the individual pages design -->
    <%- style %>

</head>

<body>

    <%- include('_header'); %>

        <%- body %>
            <!--Body contains the "variable part" ,body is predefined in express -->

            <%- include('_footer'); %>

                <%- script %>
</body>

</html>