<!--layout.ejs is a wrapper of common parts or designs which every page inherts from-->
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">


    <!--This tag should be below the  above css file link as it should override the layout.css and put the individual pages design -->
    <%- style %>

</head>

<body>

    <%- include('_header'); %>

        <main id="layout-main">
            <%- body %>
        </main>
        <!--Body contains the "variable part" ,body is predefined in express -->

        <%- include('_footer'); %>

            <%- script %>
</body>

</html>